<div class="relative inline-block text-left">
    <select onchange="window.location.href='?lang=' + this.value" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
        <option value="en" <%= locale === 'en' ? 'selected' : '' %>><%= __('english') %></option>
        <option value="ja" <%= locale === 'ja' ? 'selected' : '' %>><%= __('japanese') %></option>
    </select>
</div>